.Menu {
    width:100%;
    list-style: none;
    border-style:solid;
    bottom:1px 0px 1px 0px;
    border-color:white;
}

.Menu-item{
width:18%;
display:inline-block;
}
.large{
  font-size:2em;
}
.text-center{
margin: 0 auto;

}
.testWidth{
  margin: 5px 2%;

}
.redText{
  color:red;
  font-style: italic;
  font-size:2em;
}
.bold{
  font-weight: bold;
}
.blueText{
  color:blue;
  font-style: italic;
}
.quote{
  font-style: italic;
}
body {
   
}

.carousel-inner > .item > img {
  width:640px;
  height:360px;
}
